:root {
  --foreground: antiquewhite;
}

.carousel-content {
  position: relative;
  margin-bottom: 0;
  justify-content: center;
  margin-top: 25em;
  display: flex;
}

.blog-item {
  background-color: rgba(33, 33, 33, 0.8);
  text-shadow: 0 0 42px rgb(0, 98, 255), 0 0 82px rgb(0, 98, 255),
    0 0 92px rgb(0, 81, 255), 0 0 102px rgb(0, 98, 255),
    0 0 151px rgb(0, 119, 255);
  border-radius: 2em;
  padding: 2em;
  margin-right: 1em;
  width: 30em;
  height: 40em;
  z-index: 1;
  transition: all ease 500ms;
  -webkit-transition: all ease 500ms;
  -moz-transition: all ease 500ms;
  -o-transition: all ease 500ms;
}

.blog-item.active {
  box-sizing: content-box;
}

.blog-item.active img {
  width: 100%;
}

.nav {
  max-width: 1920px;
  position: absolute;
  top: 250px;
  z-index: 2;
  cursor: pointer;
}

.nav-left {
  left: 20px;
  filter: drop-shadow(5px 10px 10px #222);
}

.nav-right {
  right: 20px;
  filter: drop-shadow(5px 10px 10px #222);
}

.carousel-arrow-icon-left {
  margin-left: 5px;
  margin-top: 2px;
}

.carousel-arrow-icon-right {
  margin-left: 7px;
  margin-top: 2px;
}

.blog-item h2 {
  height: 3em;
  font-size: 2em;
  color: var(--foreground);
}

.blog-item img {
  max-height: 16em;
}

.blog-item div {
  font-size: 1.6em;
}

.blog-item:hover {
  text-shadow: 0 0 42px rgb(108, 231, 255), 0 0 82px rgb(0, 157, 255),
    0 0 92px rgb(255, 0, 225), 0 0 102px rgb(255, 4, 255),
    0 0 151px rgb(255, 255, 255);
}
